.header {
    background-color: #222222;
    height: 85px;
    padding: 4px 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.header .btn {
    color: white;
    background-color: transparent;
    /* border: none; */
    padding: 10px 20px;
    cursor: pointer;
}

.header .btn:hover {
    background-color: #4a4a4aab;
    border-radius: 25px;
}

.body {
    margin: 0;
    font-family: poppins, sans-serif;
    background-color: #161513;
    flex-direction: column;
    align-items: center;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    height: 50px;
}

/* Avatar Background */
.circaler-avatar {
    position: sticky;
    background: linear-gradient(137.59deg, #FF8660 9.86%, #8000FF 90.95%);
    left: 3.59%;
    right: 11.55%;
    top: 4.04%;
    bottom: 0.45%;
    width: 213px;
    height: 213px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

/* Title */
.headLanding {
    left: 0.9%;
    right: 1.19%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 76px;
    text-align: center;

    /* Primary Gradient */
    background: linear-gradient(150.69deg, #FF8660 43.79%, #9A33FF 99.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

/* About Me Section */
.aboutMe {
    left: 0.9%;
    right: 1.19%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    max-width: 1000px;
    height: auto;
    margin: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
    line-height: 35px;
    color: #757575;
}

.btnContact {
    /* Action Buttons */

    position: absolute;
    width: 417px;
    height: 64px;
    left: 496px;
    top: 772px;

}

.btnContact .Rectangle {
    /* Rectangle 1 */

    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 53.24%;
    top: 0%;
    bottom: 0%;

    text-align: center;

    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;

}

.btnContact .RectangleOutline {
    /* Rectangle 2 */

    box-sizing: border-box;

    position: absolute;
    left: 51.08%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    text-align: center;
    color: #FFFFFF;

    border: 2px solid #FFFFFF;
    border-radius: 50px;

}