.header {
    background-color: #222222;
    height: 85px;
    padding: 4px 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.header .btn {
    color: white;
    background-color: transparent;
    /* border: none; */
    padding: 10px 20px;
    cursor: pointer;
}

.header .btn:hover {
    background-color: #4a4a4aab;
    border-radius: 25px;
}

.body {
    margin: 0;
    font-family: poppins, sans-serif;
    background-color: #161513;
    flex-direction: column;
    align-items: center;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    height: 50px;
}

/* Avatar Background */
.circaler-avatar {
    position: sticky;
    background: linear-gradient(137.59deg, #FF8660 9.86%, #8000FF 90.95%);
    left: 3.59%;
    right: 11.55%;
    top: 4.04%;
    bottom: 0.45%;
    width: 213px;
    height: 213px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

/* Title */
.headLanding {
    left: 0.9%;
    right: 1.19%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    /* or 115% */
    text-align: center;

    /* Primary Gradient */
    background: linear-gradient(120.69deg, #FF8660 71.79%, #9A33FF 95.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}
